.fieldset {
  border: none;
  padding: 0.5em 0;

  .label {
    display: block;
    margin-bottom: 3px;
    font-size: 1em;
    color: $gray-500;
    font-weight: 500;
    font-family: inherit;
  }
}
