@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
@import "./vars/colors.scss", "./vars/type.scss", "./vars/effects.scss",
  "./components/components.scss", "./mixins.scss";
@import "lucide-static/font/lucide.css";

:root {
  font-family: "Inter", system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: $black;
  background-color: $gray-100;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  margin: 0;
  padding: 0;
  letter-spacing: 0;
}

body {
  background-color: $gray-200;
  font-size: 14px;
}
